@charset "utf-8";
@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard/Pretendard-Regular.eot');
    src: url('../font/Pretendard/Pretendard-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/Pretendard/Pretendard-Regular.woff2') format('woff2'),
        url('../font/Pretendard/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard/Pretendard-Light.eot');
    src: url('../font/Pretendard/Pretendard-Light.eot?#iefix') format('embedded-opentype'),
        url('../font/Pretendard/Pretendard-Light.woff2') format('woff2'),
        url('../font/Pretendard/Pretendard-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard/Pretendard-Medium.eot');
    src: url('../font/Pretendard/Pretendard-Medium.eot?#iefix') format('embedded-opentype'),
        url('../font/Pretendard/Pretendard-Medium.woff2') format('woff2'),
        url('../font/Pretendard/Pretendard-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard/Pretendard-SemiBold.eot');
    src: url('../font/Pretendard/Pretendard-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../font/Pretendard/Pretendard-SemiBold.woff2') format('woff2'),
        url('../font/Pretendard/Pretendard-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard/Pretendard-Thin.eot');
    src: url('../font/Pretendard/Pretendard-Thin.eot?#iefix') format('embedded-opentype'),
        url('../font/Pretendard/Pretendard-Thin.woff2') format('woff2'),
        url('../font/Pretendard/Pretendard-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard/Pretendard-Black.eot');
    src: url('../font/Pretendard/Pretendard-Black.eot?#iefix') format('embedded-opentype'),
        url('../font/Pretendard/Pretendard-Black.woff2') format('woff2'),
        url('../font/Pretendard/Pretendard-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard/Pretendard-Bold.eot');
    src: url('../font/Pretendard/Pretendard-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/Pretendard/Pretendard-Bold.woff2') format('woff2'),
        url('../font/Pretendard/Pretendard-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard/Pretendard-ExtraBold.eot');
    src: url('../font/Pretendard/Pretendard-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../font/Pretendard/Pretendard-ExtraBold.woff2') format('woff2'),
        url('../font/Pretendard/Pretendard-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard/Pretendard-ExtraLight.eot');
    src: url('../font/Pretendard/Pretendard-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../font/Pretendard/Pretendard-ExtraLight.woff2') format('woff2'),
        url('../font/Pretendard/Pretendard-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
h1, h2, h3, h4, h5, h6, strong, b {
    font-weight: inherit;
}
body {
    font-family: 'Pretendard';
    font-weight: 400;
    color: #333333;
}
.section {
    width: 1920px;
    margin: 0 auto;
}
.section .inner {
    width: 1280px;
    margin: 160px auto;
}
.section .inner h2 {
    font-weight: 700;
    font-size: 70px;
}
.section .inner .tab_menu {
    display: flex;
    margin: 40px 0 20px;
    column-gap: 16px;
    /* 좌우간격은 column-gap 상하간격은 row-gap display:flex를 쓴 곳에만 쓸 수 있다  */
}
.section .inner .tab_menu li {
    height: 40px;
    line-height: 40px;
    /* line-height는 한줄로 적용가능하지만 높이값이 바뀌면 바꿔주어야한다.
     display:flex align-items:center를 하면 높이값이 바뀌어도 상관없다 */
    padding: 0 20px;
    background-color: #F2F2F2;
    border-radius: 20px;
}
.section .inner .tab_menu li.active {
    background-color: #0198ED;
    color: white;
}
.section .inner .list {
    display: flex;
    justify-content: space-between;
}
.section .inner .list .left {
    width: 637px;
}
.section .inner .list .left img {
    width: 100%;
    height: 627px;
    object-fit: cover;
    display: block;
}
.section .inner .list .right {
    width: 615px;
    display: flex;
    flex-wrap: wrap;
    /* row-gap: 29px; */
    align-content: space-between;
}
.section .inner .list .right .item {
    display: flex;
    align-items: center;
    column-gap: 28px;
    /* margin-bottom: 29px; */
}
.section .inner .list .right .item img {
    width: 193px;
    height: 190px;
    object-fit: cover;
    display: block;
}
.section .inner .list .right .item .text span {
    font-size: 14px;
}
.section .inner .list .right .item .text h3 {
    font-size: 22px;
    margin: 10px 0 25px;
    font-weight: 500;
}
.section .inner .list .right .item .text strong {
    font-size: 30px;
    font-weight: 700;
}