@charset "utf-8";
@font-face {
    font-family: 'SCoreDream';
    src: url('../font/scoredream/S-CoreDream-4Regular.eot');
    src: url('../font/scoredream/S-CoreDream-4Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/scoredream/S-CoreDream-4Regular.woff2') format('woff2'),
        url('../font/scoredream/S-CoreDream-4Regular.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SCoreDream';
    src: url('../font/scoredream/S-CoreDream-6Bold.eot');
    src: url('../font/scoredream/S-CoreDream-6Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/scoredream/S-CoreDream-6Bold.woff2') format('woff2'),
        url('../font/scoredream/S-CoreDream-6Bold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SCoreDream';
    src: url('../font/scoredream/S-CoreDream-5Medium.eot');
    src: url('../font/scoredream/S-CoreDream-5Medium.eot?#iefix') format('embedded-opentype'),
        url('../font/scoredream/S-CoreDream-5Medium.woff2') format('woff2'),
        url('../font/scoredream/S-CoreDream-5Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SCoreDream';
    src: url('../font/scoredream/S-CoreDream-7ExtraBold.eot');
    src: url('../font/scoredream/S-CoreDream-7ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../font/scoredream/S-CoreDream-7ExtraBold.woff2') format('woff2'),
        url('../font/scoredream/S-CoreDream-7ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SCoreDream';
    src: url('../font/scoredream/S-CoreDream-8Heavy.eot');
    src: url('../font/scoredream/S-CoreDream-8Heavy.eot?#iefix') format('embedded-opentype'),
        url('../font/scoredream/S-CoreDream-8Heavy.woff2') format('woff2'),
        url('../font/scoredream/S-CoreDream-8Heavy.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SCoreDream';
    src: url('../font/scoredream/S-CoreDream-9Black.eot');
    src: url('../font/scoredream/S-CoreDream-9Black.eot?#iefix') format('embedded-opentype'),
        url('../font/scoredream/S-CoreDream-9Black.woff2') format('woff2'),
        url('../font/scoredream/S-CoreDream-9Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SCoreDream';
    src: url('../font/scoredream/S-CoreDream-1Thin.eot');
    src: url('../font/scoredream/S-CoreDream-1Thin.eot?#iefix') format('embedded-opentype'),
        url('../font/scoredream/S-CoreDream-1Thin.woff2') format('woff2'),
        url('../font/scoredream/S-CoreDream-1Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SCoreDream';
    src: url('../font/scoredream/S-CoreDream-2ExtraLight.eot');
    src: url('../font/scoredream/S-CoreDream-2ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../font/scoredream/S-CoreDream-2ExtraLight.woff2') format('woff2'),
        url('../font/scoredream/S-CoreDream-2ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SCoreDream';
    src: url('../font/scoredream/S-CoreDream-3Light.eot');
    src: url('../font/scoredream/S-CoreDream-3Light.eot?#iefix') format('embedded-opentype'),
        url('../font/scoredream/S-CoreDream-3Light.woff2') format('woff2'),
        url('../font/scoredream/S-CoreDream-3Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
h1, h2, h3, h4, h5, h6, strong, b {
    font-weight: inherit;
}
body {
    font-family: 'SCoreDream';
    font-weight: 300;
}
.wrap {
    background: url('../img/Frame 24.png') center center / cover no-repeat;
    padding: 165px 0 280px;
}
.wrap .in {
    width: 1440px;
    margin: 0 auto;
}
.wrap .in .inner p {
    font-size: 40px;
    margin-bottom: 15px;
}
.wrap .in .inner b {
    font-weight: 600;
}
.wrap .in .inner {
    text-align: center;
    color: #fff;
    margin-bottom: 65px;
}
.wrap .in .list {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.wrap .in .list .item {
    width: 464px;
    height: 340px;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 0 25px;
    gap: 40px;
}
.wrap .in .list .item img {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    object-fit: cover;
}
.wrap .in .list .item .box {
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.wrap .in .list .item .box h3 {
    font-weight: 600;
}
.wrap .in .list .item .box span {
    height: 28px;
    background-color: #D3785D;
    border-radius: 14px;
    line-height: 28px;
    color: #fff;
    padding: 0 12px;
    font-size: 14px;
}
.wrap .in .list .item .box .text h3 {
    font-size: 16px;
    margin-bottom: 10px;
}
.wrap .in .list .item .box .text p {
    font-size: 14px;
}