@charset "utf-8";
@import url(reset.css);

body {
    height: 3000px;
}
.header {
    width: 100%;
    height: 100px;
    background-color: tomato;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    line-height: 100px;
    font-size: 30px;
    color: #fff;
    font-weight: bold;
    transition: top 500ms;
}
.header.active {
    top: -100px;
}