@charset "utf-8";
@import url(reset.css);

body {
    height: 3000px;
}
.btn {
    display: inline-flex;
    flex-direction: column;
    gap: 20px;
    position: fixed;
    right: 30px;
    bottom: 60px;
}
.btn button {
    padding: 20px;
    display: block;
    background-color: rgb(66, 82, 168);
    color: #fff;
    border-radius: 50px;
    cursor: pointer;
}