@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
body {
    background-color: #fff;
}
.mode_btn {
    width: 100px;
    height: 40px;
    background-color: rgb(236, 236, 236);
    border-radius: 10px;
    border: 1px solid #333;
    line-height: 40px;
    text-align: center;
}