@charset "utf-8";
@import url(reset.css);

.section {
    max-width: 640px;
    background-color: #eee;
    padding: 100px 20px;
    margin: 0 auto;
}
.section .inner .item_detail img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.section .inner .item_detail .title {
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}
.section .inner .item_detail .text {
    line-height: 1.3;
}
.section .inner .list {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.section .inner .list .item {
    width: 32%;
    background-color: #fff;
    padding: 12px;
}
.section .inner .list .item img {
    width: 100%;
    height: 100px;
    object-fit: cover;
}
.section .inner .list .item .title {
    margin-top: 16px;
    margin-bottom: 8px;
    font-weight: bold;
}
.section .inner .list .item .text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    line-height: 1.3;
    display: none;
}