@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
body {
    position: relative;
}
.section-01 .swiper-slide {
    width: 640px;
}
.section-01 .swiper-slide img {
    width: 640px;
    height: 640px;
    object-fit: cover;
}
.section-02 {
    margin: 100px auto;
}
.section-02 .swiper-slide {
    width: 300px;
    height: 300px;
}
.section-02 .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}